--
-- PostgreSQL database dump
--

\restrict 4OzRXQHBJsNfbCnLvMWfyI1HXIXkqdXYAEkeYmNG5UmZfhmXGekX47WpqsFr87P

-- Dumped from database version 16.13
-- Dumped by pg_dump version 16.13

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: products; Type: TABLE; Schema: public; Owner: marketplace
--

CREATE TABLE public.products (
    product_id bigint NOT NULL,
    category_id bigint NOT NULL,
    seller_id bigint NOT NULL,
    name text NOT NULL,
    description text,
    price numeric(12,2) NOT NULL,
    quantity integer DEFAULT 0 NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    currency text DEFAULT 'RUB'::text NOT NULL,
    subcategory_id bigint,
    CONSTRAINT products_price_check CHECK ((price >= (0)::numeric)),
    CONSTRAINT products_quantity_check CHECK ((quantity >= 0))
);


ALTER TABLE public.products OWNER TO marketplace;

--
-- Name: products_product_id_seq; Type: SEQUENCE; Schema: public; Owner: marketplace
--

CREATE SEQUENCE public.products_product_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_product_id_seq OWNER TO marketplace;

--
-- Name: products_product_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: marketplace
--

ALTER SEQUENCE public.products_product_id_seq OWNED BY public.products.product_id;


--
-- Name: products product_id; Type: DEFAULT; Schema: public; Owner: marketplace
--

ALTER TABLE ONLY public.products ALTER COLUMN product_id SET DEFAULT nextval('public.products_product_id_seq'::regclass);


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: marketplace
--



--
-- Name: products_product_id_seq; Type: SEQUENCE SET; Schema: public; Owner: marketplace
--

SELECT pg_catalog.setval('public.products_product_id_seq', 13, true);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: marketplace
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (product_id);


--
-- Name: idx_products_category_id; Type: INDEX; Schema: public; Owner: marketplace
--

CREATE INDEX idx_products_category_id ON public.products USING btree (category_id);


--
-- Name: idx_products_seller_id; Type: INDEX; Schema: public; Owner: marketplace
--

CREATE INDEX idx_products_seller_id ON public.products USING btree (seller_id);


--
-- Name: idx_products_subcategory_id; Type: INDEX; Schema: public; Owner: marketplace
--

CREATE INDEX idx_products_subcategory_id ON public.products USING btree (subcategory_id);


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketplace
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(category_id) ON DELETE RESTRICT;


--
-- Name: products products_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketplace
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id) ON DELETE RESTRICT;


--
-- Name: products products_subcategory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: marketplace
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_subcategory_id_fkey FOREIGN KEY (subcategory_id) REFERENCES public.podcategories(podcategories_id) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 4OzRXQHBJsNfbCnLvMWfyI1HXIXkqdXYAEkeYmNG5UmZfhmXGekX47WpqsFr87P

